@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Open Sans;
}

nav {
  padding: 2em 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 100%;
}

nav button {
  background: transparent;
  color: hsl(322, 100%, 66%);
  border: 2px solid hsl(322, 100%, 66%);
  border-radius: 2em;
  height: 3em;
  width: 7em;
  font-size: 1.5em;
  font-family: "Poppins";
}

.banner {
  padding: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.banner h1 {
  font-size: 5em;
  font-family: Poppins;
  margin-bottom: 0.5em;
  color: hsl(192, 100%, 9%);
}

.banner p {
  font-size: 2em;
  width: 30em;
  text-align: center;
  line-height: 1.4;
  color: hsl(192, 100%, 9%);
  margin-bottom: 2em;
}

.banner a,
.build a {
  background: hsl(322, 100%, 66%);
  color: white;
  border-radius: 2em;
  padding: 1em 4em;
  font-size: 1.7em;
  text-decoration: none;
  font-family: Open Sans;
  margin-bottom: 2em;
}

.community {
  padding: 3em 10em;
  display: flex;
  justify-content: space-around;
}

.community h2 {
  font-size: 7em;
  font-family: Poppins;
}

.community p {
  font-size: 2em;
  color: hsl(192, 100%, 9%);
}

label {
  display: none;
}

.grow {
  padding: 2em 10em;
  display: flex;
  height: 50em;
  background: hsl(207, 100%, 98%);
  border-style: ;
}

.grow-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: ;
}

.grow-text h3 {
  font-size: 3em;
  margin-bottom: 1em;
  font-family: Poppins;
}

.grow-text p {
  font-size: 1.6em;
  line-height: 1.6;
  width: 80%;
}

.grow-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow-image img {
  height: 80%;
  width: 80%;
}

.flow {
  padding: 2em 10em;
  display: flex;
  height: 50em;
  background: white;

  flex-direction: row-reverse;
}

.build {
  padding: 10em;
  text-align: center;
  font-family: Open Sans;
}

.build h4 {
  font-size: 3.5em;
  margin-bottom: 1em;
  font-family: Poppins;
}
.wave {
  margin-bottom: -1em;
  width: 100%;
}

footer {
  /* background: url(./images/bg-footer-top-desktop.svg); */
  background-color: hsl(192, 100%, 9%);
  background-position: ;
  background-repeat: no-repeat;
  background-size: ;
  padding: 3em 10em;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}

footer p {
  width: 70%;
  margin: 1em 0;
}

footer h5 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: Poppins;
}

footer input {
  width: 28em;
  height: 3em;
  border-radius: 0.5em;
  border: none;
  margin-right: 1em;
}

footer button {
  width: 9em;
  font-size: 1em;
  font-family: Open sans;
  background: hsl(322, 100%, 66%);
  color: white;
  height: 3em;
  border-radius: 0.5em;
  border: none;
}

footer a {
  color: white;
  text-decoration: none;
  margin-bottom: 2em 0;
}

footer img {
  width: 2.5em;
  height: 2.5em;
  margin: 1em 0.5em 0 0;
}

@media (max-width: 940px) {
  nav,
  .banner,
  .community,
  .build,
  .grow,
  .flow,
  footer {
    padding: 4em;
  }
  .banner {
    text-align: center;
  }

  .banner img {
    width: 100%;
  }

  footer P {
    width: 90%;
  }

  footer div {
    width: 50%;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 1em 2em;
  }

  nav img {
    height: 2.5em;
  }

  nav button {
    height: 2em;
    font-size: 1.2em;
  }

  .banner {
    padding: 4em 2em;
    height: unset;
    width: 100%;
    text-align: center;
  }

  .banner p {
    width: unset;
    font-size: 1.6em;
  }

  .banner h1 {
    font-size: 3.5em;
    line-height: 1.2;
  }

  .banner img {
    width: 100%;
  }

  .community {
    flex-direction: column;
    padding: 2em;
    text-align: center;
  }

  .community div {
    margin-bottom: 3em;
  }

  .grow {
    flex-direction: column-reverse;
    padding: 2em;
    height: unset;
    text-align: center;
  }

  .grow div {
    width: 100%;
    margin: 2em 0;
  }

  .grow p {
    width: unset;
  }

  .flow {
    flex-direction: column-reverse;
    padding: 2em;
    text-align: center;
  }

  .flow div {
    width: unset;
    margin: 2em 0;
  }

  .flow p {
    width: unset;
  }

  .build {
    padding: 4em;
  }

  .build h4 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
  }

  .build a {
    font-size: 1.6em;
    padding: 1em 2em;
  }

  footer {
    flex-direction: column-reverse;
    padding: 2em;
  }

  footer p {
    width: unset;
  }

  footer div {
    margin: 2em 0;
    width: unset;
  }

  footer form {
    text-align: right;
  }

  footer input {
    margin: 1em 0;
    height: 3em;
    width: 100%;
  }

  .wave {
    margin-bottom: -0.5em;
  }

  footer img {
    height: 2em;
    margin-top: 2em;
    width: 2em;
  }
}
